$clr-bg-main: linear-gradient(to right, #2b5876, #4e4376); 
$clr-heading: #fff;
$clr-header-foo: #fafafa;
$clr-paragraph-light: #f7f7f7;
$clr-paragraph-dark: #1B333F;
$clr-primary: #1B333F;
$clr-secondary: #58BDC3;
$clr-box-shadow: 0 2px 30px 0 rgba(12, 53, 115, 0.10);
$clr-card-shadow: 0 0 10px rgba(0, 0, 0, 0.70);
$clr-footer-shadow: 0 -5px 5px -5px rgba(51, 51, 51, 0.514);
$clr-bg-card-light: linear-gradient(to right, #ECE9E6, #FFF);