@import "colors.scss";
@import "fonts.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: $clr-header-foo;
    box-shadow: $clr-box-shadow;
    position: sticky;
    top: 0;
    z-index: 1030;
}

main {
    background-image: $clr-bg-main;
}

.hero-flex {
    display: flex;
    width: 80%;
    gap: 1.5rem;
    padding-block: 2rem;
    width: min(90%);
    margin-inline: auto;

    .heading {
        padding: 2rem;
        div {
            h1 {
                font-size: $font-heading;
                text-transform: uppercase;
                margin-bottom: 2rem;
                text-align: center;
                color: $clr-heading;
                font-weight: $font-700;
            }
        }
        p {
            font-size: 1.2rem;
            line-height: 1.7rem;
            text-align: justify;
            color: $clr-paragraph-light;
        }
    }
    .img-container {
        img{
            width: 620px;
        }
    }
}

@media screen and (max-width: 1200px){
    .hero-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .img-container{
            img{
                width: 100%;
                height: 90%;
            }
        }
    }
}
  .subtitle-flex {
    display: flex;
    padding: 2rem;
    justify-content: center;
    h2{
        font-size: 2rem ;
        color: $clr-heading;
        font-weight: $font-500;
    }
  }

  @media screen and (max-width: 480px) {
    .subtitle-flex h2 {
      text-align: center ;
    }
  }

.opinion-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';
    padding-block: 2rem;
    width: min(80%);
    margin-inline: auto;
    .opinion {
        padding: 2rem;
        border: solid 0.8px $clr-heading;
        border-radius: 0.5rem;
        background: $clr-primary;
        box-shadow: $clr-card-shadow;
        color: $clr-paragraph-light;
        margin-bottom: 1.25rem; 
        .flex{
            display: flex;
            gap: 1rem;
            align-items: center;
            div {
                img {
                    max-width: 100%;
                    display: block;
                    border-radius: 50%;
                }
            }
            div {
                .graduate-name {
                    font-size:1.4rem;
                }
            }
        }
        p {
            font-size: 1.25rem;
            line-height: 1.2;
            text-align: justify;
        }
    }
}
.opinion > p:first-of-type {
    font-size: 1.25rem;
    line-height: 1.2;
    text-align: justify;
  }
.opinion:nth-child(1) {
grid-area: one;
}
.opinion:nth-child(2) {
grid-area: two;
}
.opinion:nth-child(3) {
grid-area: three;
}
.opinion:nth-child(4) {
grid-area: four;
}
.opinion:nth-child(5) {
grid-area: five;
}

@media screen and (min-width: 620px) {
.opinion-grid {
    grid-template-areas:
    'one one'
    'two five'
    'three five'
    'four four'
    'six';
}
}

@media screen and (min-width: 864px) {
.opinion-grid {
    grid-template-areas:
    "one one two"
    "five five five"
    "three four four"
    "six six six";
}
}

@media screen and (min-width: 1200px) {
.opinion-grid {
    grid-template-areas:
    "one one two five"
    "three four four six";
}
.opinion > p:first-of-type {
    font-size: 1rem;
}
}

article >*:where(:not(:first-child)) {
padding-top: 1em;
}

footer {
    background-color: $clr-header-foo;
    box-shadow: $clr-footer-shadow;
    .footer-container {
        height: auto;
        .foo-heading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            h3{
                padding: 1rem;
                font-size: 1rem;
                color: $clr-primary;
            }
        }
        .flex-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            list-style: none;
            padding: .6rem;
            #foo {
                cursor: pointer;
                i {
                    margin: 0.3125rem;
                    font-size: 20px;
                    color: $clr-primary;
                }
                i:hover {
                    color: $clr-secondary;
                }
            }
        }
    }
}

.us-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven';
    padding-block: 2rem;
    width: min(80%);
    margin-inline: auto;
    align-items: center;
    h1 {
        font-size: $font-heading;
        text-transform: uppercase;
        margin-bottom: 2rem;
        text-align: center;
        color: $clr-heading;
        font-weight: $font-700;
    }
    .atributes {
        padding: 2rem;
        border-radius: 0.5rem;
        background-image: $clr-bg-card-light;
        box-shadow: $clr-card-shadow;
        color: $clr-paragraph-dark;
        margin-bottom: 20px;
        transition: .9s ease;
    }
    .atributes {
        p{
            text-align: justify;
        }
    }
    .atributes:hover {
        transform: translate(5px, -10px);
    }
}

.us-grid:nth-child(1) {
    grid-area: one;
}
.us-grid:nth-child(2) {
    grid-area: two;
}
.us-grid:nth-child(3) {
    grid-area: three;
}
.us-grid:nth-child(4) {
    grid-area: four;
}
.us-grid:nth-child(5) {
    grid-area: five;
}
.us-grid:nth-child(6) {
    grid-area: six;
}
.us-grid:nth-child(7) {
    grid-area: seven;
}

@media screen and (min-width: 864px) {
    .us-grid {
      grid-template-areas:
       'one one'
       'two three'
       'four five'
       'six seven';
    }
    h1 {
      grid-area: one;
    }
    .who {
      grid-area: two;
    }
    .who-img {
      grid-area: three;
    }
    .what {
      grid-area: five ;
    }
    .what-img {
      grid-area: four;
    }
    .where {
      grid-area: six;
    }
    .where-img {
      grid-area: seven;
    }
}
@media screen and (min-width: 1200px) {
    .atributes {
      width: 80%;
      height: auto;
    }
}

.team-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one'
        'two';
    padding-block: 2rem;
    width: min(80%);
    margin-inline: auto;
    align-items: center;

    .heading-team {
        grid-area: one;
        width: 80%;
       justify-self: center;
       text-align: center;

        h1{
            font-size: $font-heading;
            text-transform: uppercase;
            margin-bottom: 2rem;
            text-align: center;
            color: $clr-heading;
            font-weight: $font-700;
        }
    }
    .cards-team {
        grid-area: two;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;


            .card-team {
                background-image: $clr-bg-card-light;
                transition: .9s ease;
         
     
            }
            .card-team:hover{
                transform: translateY(-5px);
            }
            .card {
                display: flex;
                flex-direction: column;
                flex: 1 1 21rem;
                align-items: center;
                margin: 0.625rem 1.25rem;
                border-radius: 0.625rem;
                box-shadow: $clr-card-shadow;
                padding: 0.625rem 1.25rem;
                color: $clr-primary;

                img {
                    width: 50%;
                    border-radius: 50%;
                }
            }
        }   
    }
}

.courses-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one one one'
        'two three four'
        'five five five'
        'six seven eight'
        'nine nine nine'
        'ten eleven twelve';
    padding-block: 2rem;
    width: min(80%);
    margin-inline: auto;
    align-items: center;


    .heading-c{
        grid-area: one;
        width: 80%;
        justify-self: center;
        text-align: center;
        h1 {
            font-size: $font-heading;
            text-transform: uppercase;
            margin-bottom: 2rem;
            text-align: center;
            color: $clr-heading;
            font-weight: $font-700;

        }
    }

    .cours {
        width: 80%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i {
            margin-bottom: 2rem;
            font-size: 3rem;
            color:#E5E5E7;
            transition: .9s ease;
        }
        i:hover {
            transform: scale(1.1,1.1);
            color: $clr-secondary;
        }
        p {
            color: $clr-paragraph-light;
            font-size: 1.25rem;
            font-weight: $font-500;
        }

    }
    .level-3 {
        grid-area: two;
    }
    .level-1 {
        grid-area: three;
    }
    .level-2 {
        grid-area: four; 
    }
    .times {
        grid-area: five;
        width: 80%;
        justify-self: center;
        text-align: center;
    }
    .morning {
        grid-area: six;
    }
    .afternoon{
        grid-area: seven;
    }
    .night {
        grid-area: eight;
    }
    .modalities {
        grid-area: nine;
        width: 80%;
        justify-self: center;
        text-align: center;
    }
    .face-to-face {
        grid-area: ten;
    }
    .semi {
        grid-area: eleven;
    }
    .online {
        grid-area: twelve;
    }
    .title {
        h2 {
            color: $clr-paragraph-light
        }
    }
}

@media screen and (max-width: 640px){
    .courses-grid{
        gap: 2rem;
        width: min(90%);
        .title {
            h2{
                font-size: 1.1rem;
            }
        }
        .cours {
            p{
                font-size: 0.7rem; 
            }
            i{
                font-size: 2rem;
            }
        }
    }
} 

.contact-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one'
        'two'
        'three';
    padding-block: 2rem;
    width: min(80%);
    margin-inline: auto;
    align-items: center;


    .heading-con {
        grid-area: one;
        justify-self: center;
        text-align: center;

        h1 {
            font-size: $font-heading;
            text-transform: uppercase;
            margin-bottom: 2rem;
            text-align: center;
            color: $clr-heading;
            font-weight: $font-700;

        }
    }
    form {
        grid-area: two;
        width: 100%;

        label {
            color: $clr-paragraph-light;
            font-size: 1.25rem;
        }
    }
    .map {
        grid-area: three;
        width: 100%;
        iframe{
            width: 100%;
        }
    }
}
@media screen and (min-width: 640px) {
    .contact-grid {
        grid-template-areas: "one one"
                                          "two three";
      } 
      .heading-con {
        grid-area: one;
      }
      form {
        grid-area: two;
      }
      .map {
        grid-area: three;
      }
    }